<div id="admin-panel" class="card">
  <div class="card-header">Admin</div>
  <div class="card-body">
    <div class="row">
      <div class="col col-12 col-md-6 align-self-center">
        <form v-on:submit.prevent class="form-inline">
          <div class="btn-group btn-group-sm">
            <select class="form-control form-control-sm" v-model="selectedPizzeriaID">
              <option v-for="pizzeria in pizzerias" v-bind:value="pizzeria.id">
                {{ pizzeria.name }}
              </option>
            </select>
            <input type="submit" class="btn btn-secondary" type="submit" @click="changePizzeria" value="auswählen">
            <input type="submit" class="btn btn-secondary" type="submit" @click="deletePizzeria" value="löschen">
          </div>
        </form>
        <form v-on:submit.prevent class="form-inline">
          <input type="submit" v-on:click="deleteOrders" class="btn btn-secondary btn-sm" value="Alle Bestellungen löschen">
        </form>
      </div>
      <div class="col col-12 col-md-6">
        <form v-on:submit.prevent="addNewPizzeria">
          <input class="form-control form-control-sm" type="text" required id="pizzeriaName" v-model="newPizzeria.name" placeholder="Pizzeria" />
          <input class="form-control form-control-sm" type="url" required id="pizzeriaLink" v-model="newPizzeria.link" placeholder="Link" />
          <input type="submit" class="btn btn-secondary btn-sm" id="submitPizzeria" value="Neue Pizzeria hinzufügen"/>
        </form>
      </div>
    </div>
  </div>
</div>

