<div id="print-order-panel" class="card">
  <div class="card-header">PDF herunterladen</div>
  <div class="card-body">
    <form action="order.pdf" method="GET" target="_blank">
      <div class="row">
        <div class="col-12 col-sm-6">
          <input class="form-control" placeholder="Name" type="text">
        </div>
        <div class="col-12 col-sm-6">
          <input class="form-control" placeholder="Telefonnummer" type="text">
        </div>
      </div>
      <input class="btn btn-secondary" type="submit" value="Absenden">
    </form>
  </div>
</div>
