<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E5 Pizza</title>
    <link rel=stylesheet type=text/css href="(( url_for('static', filename='css/bootstrap.min.css') ))">
    <link rel=stylesheet type=text/css href="(( url_for('static', filename='css/site.css') ))">
  </head>
  <body>
    <div class="container">
      <div class="content" id="app">
        <div align="center">
          <h1>
            E5 Pizza
          </h1>
          <p class="lead">
          Heutige Pizzeria: <a :href="currentPizzeria.link">{{ currentPizzeria.name }}</a><br>
          Source-Code: <a href="https://github.com/maxnoe/pizza2">https://github.com/maxnoe/pizza2</a><br>
          <em>Hinweis: Doktoranden werden gebeten,<br>einen Euro mehr für Getränke und Snacks zu bezahlen.</em>
          </p>
        </div>

        {% include 'orders.html' %}
        {% include 'getorder.html' %}
        {% include 'admin.html' %}

      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="(( url_for('static', filename='js/moment.min.js') ))"></script>
    <script src="(( url_for('static', filename='js/jquery.min.js') ))"></script>
    <script src="(( url_for('static', filename='js/socket.io.js') ))"></script>
    <script src="(( url_for('static', filename='js/main.js') ))"></script>
  </body>
</html>
