<div id="orders-panel" class="card">
  <div class="card-header">Bestellungen</div>
  <transition-group tag="ul" name="order-list" class="list-group">
    <li class="list-group-item order-list-item" v-for="order in orders" v-bind:key="order.id">
      <div class="row">
        <div class="col-4 col-md-1 ">
          <span class="badge badge-secondary">{{ (order.price / 100).toFixed(2) }} €</span>
        </div>
        <div class="col-8 col-md-3" align="right">{{ order.description }}</div>
        <div class="col-6 col-md-2 ">{{ order.name }}</div>
        <div class="col-6 col-md-3" align="right">{{ order.timestamp }}</div>
        <div class="btn-group btn-group-sm col-md-3 col-12 justify-content-end">
          <button class="btn btn-success btn-default" v-if="order.paid" v-on:click="app.togglePaid(order.id)" >bezahlt</button>
          <button class="btn btn-secondary" v-on:click="app.togglePaid(order.id)" v-else>bezahlt</button>
          <button class="btn btn-secondary" v-on:click="app.deleteOrder(order.id)">löschen</button>
        </div>
      </div>
    </li>
    <li class="list-group-item" v-if="orders.length == 0" key="-1">Keine Bestellungen</li>
  </transition-group>
  <div class="card-footer">
    <form v-on:submit.prevent="addNewOrder">
      <div class="form-row">
        <div class="col-12 col-md-4">
          <input class="form-control" type="text" required id="description" v-model="newOrder.description" placeholder="Bestellung" />
        </div>
        <div class="col-12 col-md-4">
          <input class="form-control" type="text" required id="name" v-model="newOrder.name" placeholder="Name" />
        </div>
        <div class="col-6 col-md-2">
          <input class="form-control" type="number" required id="price" step="0.1" v-model="newOrder.price" placeholder="Preis" />
        </div>
        <div class="col-6 col-md-2">
          <input type="submit" class="btn btn-secondary" id="submitOrder" value="Bestellen"/>
        </div>
      </div>
    </form>
  </div>
</div>
